# --- Unity Essential Ignores ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
/[Ll]ogs/
/[MemoryCaptures]/

# --- Ignore All Packages except the manifests ---
# This stops the 100s of folders in image_82eace from uploading
/[Pp]ackages/*
!/[Pp]ackages/manifest.json
!/[Pp]ackages/packages-lock.json

# --- Visual Studio & OS ---
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.svd
*.pdb
*.opendb
*.VC.db

# --- Keep meta files for Assets ---
!/[Aa]ssets/**/*.meta